body {
    background-color: #000000;
	color: #CB9B51;
	font-family: Ubuntu;
}

hr {
    height: 2px;
    background-color: #CB9B51;
    border: none;
}
a:link {
    color: #FFFFFF;
	text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: rgb(255, 105, 223);
    text-decoration: underline;
}
  
a:active {
    color: rgb(255, 105, 223);
}

/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }